body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #f2f2f2;
}

label {
	color: white;
	font-size: 30px;
}

nav.navbar-findcond {
	background: #12a1f3;
	border-color: #ccc;
	box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a {
	color: white;
	font-size: 15px;
}

nav.navbar-findcond ul.navbar-nav a {
	color: white;
	font-size: 15px;
}

/* nav.navbar-findcond ul.navbar-nav a:hover, */
/* nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active {
	background: #fff;
} */

nav.navbar-findcond ul.navbar-nav a:hover {
	border-color: #ffc118;
}

nav.navbar-findcond li.divider {
	background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
	background: #ffc118;
	border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
	background: #ffc118;
}

nav.navbar-findcond button.navbar-toggle>span.icon-bar {
	background: #fff;
}

nav.navbar-findcond ul.dropdown-menu {
	border: 0;
	background: #fff;
	border-radius: 4px;
	margin: 4px 0;
	box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu>li>a {
	color: #444;
}

nav.navbar-findcond ul.dropdown-menu>li>a:hover {
	background: #ffc118;
	color: #fff;
}

nav.navbar-findcond span.badge {
	background: #ffc118;
	font-weight: normal;
	font-size: 11px;
	margin: 0 4px;
}

nav.navbar-findcond span.badge.new {
	background: rgba(255, 0, 0, 0.8);
	color: #fff;
}

.user_card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background: #12a1f3;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.login_btn {
	width: 100%;
	background: #ffc118 !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #ffc118 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #ffc118 !important;
}

.panel-table .panel-body {
	padding: 0;
}

.panel-table .panel-body .table-bordered {
	border-style: none;
	margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
	text-align: center;
	width: 100px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
	border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
	border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
	border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
	border-top: 0px;
}

.panel-table .panel-footer .pagination {
	margin: 0;
}

/*
	used to vertically center elements, may need modification if you're not using default sizes.
	*/
.panel-table .panel-footer .col {
	line-height: 34px;
	height: 34px;
}

.panel-table .panel-heading .col h3 {
	line-height: 30px;
	height: 30px;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
	line-height: 34px;
}

.container {
    margin-top: 60px;
}

@media only screen 
  and (max-device-width: 480px){
	.user_card {
		width: 80%;
	}
}
